<!-- <form action="/api/validate.json" method="post">
  <input type="text" name="email">
  <input type="submit">
</form> -->
<!DOCTYPE html>
<html>
    <head>
      <title>Email Checker</title>
        <link rel="stylesheet" type="text/css" href="stylesheet.css"/>
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
        <script type="text/javascript" src="script.js"></script>
  </head>
  <body>
    <h2>Email Checker</h2>
    <form name="checkListForm">
      <input type="text" name="EmployeeName", placeholder="Employee Name..."/>
      <input type="text" name="CompanyName", placeholder="Company Name..."/>
    </form>
    <div id="button">Check!</div>
    <br/>
    <div class="list"></div>
  </body>
</html>